@(bud: _root_.domain.buds.Bud, editForm: Form[_root_.forms.BudForm])

@import tags._
@import _root_.views.tools._

@scripts = {
    @markdown_editor( "content", "save" )
}

@sidebar = {
    @show_bud_sidebar( bud )
}

@main( bud.title().get(), "buds", scripts ) {

    @layout_fluid(right_sidebar = sidebar) {

        @page_header( bud.title().get() )

        @helper.form( action = routes.Buds.saveBud( bud.identity().get() ) ) {
            <fieldset>
                @html5_text(
                    editForm("title"),
                    '_label -> "Title"
                )
                @html5_textarea(
                    editForm("content"),
                    '_label -> "Content",
                    '_id -> "mask"
                )
                <div id="editor-wrapper"></div>
            </fieldset>
            <div class="form-actions">
                <input id="save" type="submit" class="btn btn-primary btn-mini" value="Save" />
                <a href="@routes.Buds.bud( bud.identity().get() )" class="btn btn-mini">Cancel</a>
            </div>
        }
        @markdown_editor( "content", "save" )
    }
}