@(bud: _root_.buds.Bud, editForm: Form[_root_.forms.BudForm])

@import tags._
@import _root_.views.tools._

@sidebar = {
    @show_bud_sidebar( bud )
}

@main( bud.entity().title, "buds" ) {

    @layout_fluid(right_sidebar = sidebar) {
    
        @page_header(bud.entity().title)
        
        @helper.form(action = routes.Buds.saveBud(bud.entity().identity)) {
        <fieldset>
        <legend>Title</legend>
        @html5_text(
            editForm("title"),
            '_value -> bud.entity().title,
            '_help -> "choose a good title"
        )
        </fieldset>
        
        <fieldset>
            
        <legend>Content</legend>
        <textarea id="mask" name="content"></textarea>
        <div id="editor-wrapper"></div>
        </fieldset>
        <script src="/assets/javascripts/epiceditor.js"></script> 
        <script>
              
              var wrapper = document.getElementById('editor-wrapper');

              var ed = new EpicEditor(wrapper);
              ed.options({
                  file:{
                    name:'content',
                    defaultContent:'@(bud.entity().content)'
                  },
                 basePath:'/assets/epic-editor',
                 focusOnLoad:true
              }).load();
        </script>
        <script src="/assets/javascripts/jquery-1.7.2.js"></script> 
        
        <div class="actions">
            <input id="save" type="submit" class="btn primary" value="save">
            <a href="@routes.Buds.bud( bud.identity() )" class="btn secondary">cancel</a>
        </div>
        
        <script>
            $(document).ready(function(){
                  
                  $('#mask').attr("style","visibility: hidden;");
              });
              
              $("#save").click(function (event) {
                  event.preventDefault();
                  
                  var text =  $( '.epiceditor-textarea',  frames[$('iframe').filter(function() { return this.id.match(/epiceditor-.*/) } ).first().attr('id')].document ).first().val(); 
                  
                  $('#mask').attr("value",text);  
                  $('form').submit();
              });
        </script>
        }
        

        
 
    }
    
}