@(bud: _root_.buds.Bud, editForm: Form[_root_.forms.BudForm])

@import tags._
@import _root_.views.tools._

@sidebar = {
    @show_bud_sidebar( bud )
}

@main( bud.entity().title, "buds" ) {

    @layout_fluid(right_sidebar = sidebar) {
    
        @page_header(bud.entity().title)
        
        @helper.form(action = routes.Buds.saveBud(bud.entity().identity)) {
            <fieldset>
                @html5_text(
                    editForm("title"),
                    '_label -> "Title"
                )
                @html5_textarea(
                    editForm("content"),
                    '_label -> "Content",
                    '_id -> "mask"
                )
                <div id="editor-wrapper"></div>
            </fieldset>
        }
        <div class="form-actions">
            <input id="save" type="submit" class="btn btn-primary btn-mini" value="save" />
            <a href="@routes.Buds.bud( bud.identity() )" class="btn btn-mini">cancel</a>
        </div>
        <!-- TODO remove after javascript unification -->
        <script src="/assets/javascripts/epiceditor.js"></script> 
        <script src='/assets/javascripts/jquery-1.7.2.js' type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                
                function find_epic_textarea() {
                    return $( '.epiceditor-textarea', frames[$('iframe').filter(function() { return this.id.match(/epiceditor-.*/) } ).first().attr('id')].document ).first();
                }
                var $original_textarea = $('textarea[name=content]');
                
                // Hide original textarea
                $original_textarea.hide();
                
                // Inflate markdown editor
                var ed = new EpicEditor( document.getElementById( 'editor-wrapper' ) );
                ed.options({ 
                    file:{ 
                        name:'content', 
                        defaultContent:'' }, 
                    themes:{
                        editor:'/themes/editor/epic-light.css',
                        preview:'/themes/preview/github.css'
                    },
                    basePath:'/assets/epic-editor', 
                    focusOnLoad:true
                
                }).load(function (){
                    
                    // Fill markdown editor with content from original textarea
                    find_epic_textarea().val( $original_textarea.val() );
                    
                    // Handle form submit
                    $('#save').click( function ( event ) {
                        event.preventDefault();
                        // Fill original textarea with markdown editor content
                        $original_textarea.val( find_epic_textarea().val() );  
                        $('form').submit();
                    });
                });

              });
        </script>
    }
}