@( budview: _root_.views.BudViewData )

@import tags._
@import _root_.views.tools._

@accordion_group( id: String, group_id: String, title: String, icon: String = "list" )( content: Html ) = {
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent='#@id-accordion' href="#@id-@group_id"><i class="icon-@icon"></i> @title</a>
        </div>
        <div id="@id-@group_id" class="accordion-body collapse in">
            <div class="accordion-inner">
                @content
            </div>
        </div>
    </div>
}

@accordion( id: String )( content: Html ) = {
    <div class="accordion" id="@id-accordion">
        @content
    </div>
}

<h3 class="pull-left" style="padding-right: 1em; font-weight: bold">Qi</h3>
<div class="progress progress-striped active" style="margin-top:0.4em">
    <div class="bar" style='width: 50%;'>@budview.bud.graphNode().getQi()</div>
</div>

<h3>Roles</h3>
@if( budview.roles.isEmpty() ) {
    <p>This Bud has no Role.</p>
}
@if( ! budview.roles.isEmpty() ) {
    @accordion( "roles" ) {
        @for( role <- budview.roles ) {
            @accordion_group( "roles", role.idname(), role.codename() ) {
                <div id="@role.idname()-view-placeholder"></div>
                <p style="text-align:right">
                    <a href='@routes.Buds.deleteBudRole(budview.bud.identity().get(), role.budPackName().get(), role.roleName().get() )' class="btn btn-mini btn-danger">
                        <i class="icon-trash"></i> Remove role
                    </a>
                </p>
            }
        }
    }
}
<p>Add a role:</p>
<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
    <option value="">Select...</option>
    @for( unused_role <- budview.unused_roles) {
        <option value='@routes.Buds.addBudRole(budview.bud.identity().get(), unused_role.budPackName(), unused_role.name() )'>@unused_role.budPackName()/@unused_role.name()</option>
    }
</select>


@if( ! budview.bud.attachments().isEmpty() ) {
    <h3>Attachments</h3>
    @for( eachAttachment <- budview.bud.attachments() ) {
        <p style="font-weight: bold">@eachAttachment.filename()</p>
        <p class="pull-left"><small>@eachAttachment.md5()</small></p>
        <p style="text-align:right">
            <a href="@routes.Buds.attachment( budview.bud.identity().get(), eachAttachment.id() )" target="_blank" class="btn btn-mini"><i class="icon-download-alt"></i> Download</a>
        </p>
        @if( eachAttachment.contentType() == null ) {
            <div class="progress progress-danger progress-striped active">
                <div class="bar" style='width: 100%;'>Gathering metadata</div>
            </div>
        }
        @if( eachAttachment.contentType() != null ) {
            @accordion( "attachment-" + budview.bud.identity().get() ) {
                @accordion_group( "attachment-" + budview.bud.identity().get(), "preview", "Preview", "eye-open" ) {
                    @img( routes.Buds.attachment( budview.bud.identity().get(), eachAttachment.id() ).toString() )
                }
                @accordion_group( "attachment-" + budview.bud.identity().get(), "metadata", "Metadata" ) {
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for( meta <- eachAttachment.metadata() ) {
                                <tr>
                                    <td>@meta._1</td>
                                    <td>@meta._2</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <p style="text-align:right"><a href="@routes.Buds.attachmentMetadata( budview.bud.identity().get(), eachAttachment.id() )" target="_blank" class="btn btn-mini">As JSON</a></p>
                }
            }
        }
    }
}

@if( budview.hasChildren() ) {
    <h3>Children</h3>
    <ul class="nav nav-list">
        @for( child <- budview.children ) {
            <li><a href="@routes.Buds.bud( child.identity().get() )">@child.title().get()</a></li>
        }
    </ul>
}
